* {
    margin: 0;
    padding: 0;
}

div {
    position: relative;
}

.segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(images/grand-canyon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-bg,
.translucent-bg {
    width: 500px;
    height: 350px;
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-bg {
    background: inherit;
    margin-left: 2em;
}

.translucent-bg::before {
    content: "";
    width: 550px;
    height: 400px;
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
}

.animated-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    font-weight: bold;
    letter-spacing: -.15em;
    background: linear-gradient(90deg, #db5353, #fff, #db5353);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 90%;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        background-position: -600%;
    }
    100% {
        background-position: 600%;
    }
}

.translucent-text {
    width: 100%;
    height: 100%;
}

.translucent-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/990140/download.png) -20px -20px no-repeat;
}

.translucent-text::after {
    content: "Test";
    background: inherit;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 8em;
    font-weight: bold;
    letter-spacing: -.15em;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/*
███████╗██╗   ██╗ ██████╗ 
██╔════╝██║   ██║██╔════╝ 
███████╗██║   ██║██║  ███╗
╚════██║╚██╗ ██╔╝██║   ██║
███████║ ╚████╔╝ ╚██████╔╝
╚══════╝  ╚═══╝   ╚═════╝ 
*/

.text-wrap {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.text-wrap svg {
    position: absolute;
    width: 100%;
    height: auto;
    font-size: 8em;
    font-weight: bold;
    letter-spacing: -.18em;
    text-transform: uppercase;
}

.text-wrap svg .img-layer {
    fill: url(#p-img);
}

.text-wrap svg .gradient-layer {
    fill: url(#gr-overlay);
}


/*
 ██████╗██╗     ██╗██████╗     ████████╗███████╗██╗  ██╗████████╗
██╔════╝██║     ██║██╔══██╗    ╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
██║     ██║     ██║██████╔╝       ██║   █████╗   ╚███╔╝    ██║   
██║     ██║     ██║██╔═══╝        ██║   ██╔══╝   ██╔██╗    ██║   
╚██████╗███████╗██║██║            ██║   ███████╗██╔╝ ██╗   ██║   
 ╚═════╝╚══════╝╚═╝╚═╝            ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝   
*/

.clip-text {
    font-size: 6em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(images/grand-canyon.jpg);
    background-size: cover;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}


/* Background */

.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}


/* Text Background (black zone) */

.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}